<nav class="navbar navbar-default">
  <div class="container">
  <p class="text-1">Our Expertise</p>
  <p class="text-2">This is a subtitle, to make it look good</p>

<div class="row">

  <div class="col-sm-4">
    <div class= "img-1">
      <div class="text-3">
      <p>Television</p>
      <p>Boardcast</p>
    </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class= "img-2">
      <div class="text-3">
      <p>Print</p>
      <p>Boardcast</p>
    </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class= "img-3">
      <div class="text-3">
      <p>Online</p>
      <p>Magazines</p>
    </div>
  </div>
  </div>

  <div class="col-sm-4">
    <div class= "img-4">
      <div class="text-3">
      <p>Radio</p>
      <p>Boardcast</p>
    </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class= "img-5">
      <div class="text-3">
      <p>Radio</p>
      <p>Boardcast</p>
    </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class= "img-6">
      <div class="text-3">
      <p>Photo</p>
      <p>Journalism</p>
    </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class= "img-7">
      <div class="text-3">
      <p>Podcasts</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class= "img-8">
      <div class="text-3">
      <p>Online</p>
      <p>Newspaper</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class= "img-9">
      <div class="text-3">
      <p>RSS</p>
      <p>Readers</p>
      </div>
    </div>
  </div>

    </div>
  </div>
</nav>